body {
    margin: 0;
    overflow: hidden;
    }
    canvas {
    display: block;
    }

#planetInfo {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: none;
    max-width: 200px;
    font-family: sans-serif;
    z-index: 1000;
}
